---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projectsWithUrl.json";
import buyable from "../data/buyable.json";
const buyableMap = {};
buyable.forEach(s => buyableMap[s.id] = true);
const page = (projects as []).filter(p => buyableMap[p.id]).slice(0, 10);

export const prerender = false;
---
<Layout title="Kickstarter projects">
  <div>
  {
    page.map(project => (
        <div class="project" data-id={project.id}>
            <img src={project.imgs.sm} alt={project.name} />
            <div class="info">
                <h2>{project.name}</h2>
                <p>{project.blurb}</p>
                <a href={project.url}>{project.url}</a>
            </div>
        </div>
      ))
  }
  </div>
</Layout>


      <style>
        .project {
          display: flex;
            margin-bottom: 20px;
        }

        img {
            margin-right: 20px;
        }

        .info {
            flex: 1;
        }

        button {
            width: 100%;
        }
      </style>
