---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projectsWithUrl.json";
import buyable from "../data/buyable.json";
import notBuyable from "../data/not.json";
const seen = buyable.concat(notBuyable);
const page = (projects as []).filter(p => !seen.includes(p.id)).slice(0, 10);
---
<Layout title="Kickstarter projects">
  <div>
    <button id="saveBtn">Save</button>
  {
    page.map(project => (
        <div class="project">
            <img src={project.imgs.sm} alt={project.name} />
            <div class="info">
                <h2>{project.name}</h2>
                <p>{project.blurb}</p>
                <a href={project.url}>{project.url}</a>
            </div>
            <div>
            <button data-yes={project.id}>Yes</button>
            <button data-no={project.id}>No</button>
            </div>
        </div>
      ))
  }
  </div>
</Layout>

          <script>
            const buttons = document.querySelectorAll("button");
            buttons.forEach(button => {
                button.addEventListener("click", e => {
                    const yesId = e.target.dataset.yes;
                    const noId = e.target.dataset.no;
                    console.log(yesId, noId);
                });
            });

            const saveBtn = document.getElementById("saveBtn");
            saveBtn.addEventListener("click", () => {
                fetch('/save', {
                    method: 'POST',
                    body: JSON.stringify({}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json()).then(res => {
                    console.log(res);
                });
            });
</script>

      <style>
        .project {
          display: flex;
            margin-bottom: 20px;
        }

        img {
            margin-right: 20px;
        }

        .info {
            flex: 1;
        }

        button {
            width: 100%;
        }
      </style>
