---
import '../../styles/lite.css';
import Layout from "../../layouts/Layout.astro";
import Footer from "../../layouts/Footer.astro";
import LiteCard from "../../components/LiteCard.astro";
export async function getStaticPaths() {
  const metaraw = await Astro.glob('../../data/meta.yml');
  const meta = metaraw[0].default;
  return Object.keys(meta).map(id => ({params: {id}}));
}

const {id} = Astro.params;
const metaraw = await Astro.glob('../../data/meta.yml');
const meta = metaraw[0].default;
const categories = Object.entries(meta);
const {name} = meta[id];

const {default: projects} = await import(`../../../public/Merged/${name}.json`);
---

<Layout title={`Offering Inspiration - ${name}`} description={`Find a unique gift from the ${name} category`}
        xmlns="">
    <div class="lite-header">
    <a class="home" href="/"><img src="/logo.svg"/></a>
    {
        categories.map(([listID, cat]) => {
            return <>{
              listID === id ? <span>&nbsp;/&nbsp;<b>{cat.name}</b></span> :
                        <span>&nbsp;/&nbsp;<a href={`/static/${listID}`}>{cat.name}</a></span>
            }</>
        })
    }
    </div>
    <div class="lite-desc">This is a list of all successful <b>{name}</b> Kickstarter projects in which the product is
        purchasable. {projects.length} items total.
    </div>
    <div class="lite-list">
  {
    projects.map(p => (
            <LiteCard name={p.name} blurb={p.blurb} url={p.url}/>
    ))
  }
    </div>

    <Footer/>
</Layout>
